*{
    box-sizing: border-box;
}
body,html, .wrapper{
    height: 100vh;
    margin:0;
    padding:0;
    font-family: Roboto, serif;
    text-align: center;
    color: #333234;
    font-weight: 300;
}

.wrapper{
    position: fixed;
}
body{
    background-image:url("http://hdqwalls.com/wallpapers/apex-legends-season-3-ws.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper{
    position: relative;
}
a{
    text-decoration: none;
}
.container{
    height: 100%;
    max-width: 1400px;
}

.container section{
    width: 20vw;
    height: 400px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title, .data{
    width: 100%;
    font-weight: 100;
    font-size: 3rem;
    background-color: rgba(250,250,250,0.8);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e2a3c;
}

.data{
    color: #545454;
}

#legend{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(9, 14, 36, 0.9);
    color: #ececec;
    padding: 50px 0;
}
#legend-container{
    display: none;
    align-items: center;
    justify-content: center;
}
#rankPercentage{
    display: none;
    align-items: center;
    margin-left: 40px;
}
#next-text{
    margin-right: 5px;
}
.ldBar-label{
    margin-top: .7rem;
    text-shadow: none !important;
}
.myBar{
    display: none;
    align-self: center;
    width: 100px;
}
#user-info{
    margin-right:50px;
}
.title .text{
    width: 45%;
}
.decorator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.5%;
}
.decorator{
    width: 50%;
    height: 2px;
    background-color: #C5D58E;
}
.rank-logo{
    width: 50px;
    height: auto;
}
footer{
    display: flex;
    align-items: center;
    position: absolute;
    bottom:10px;
    right:20px;
    height: 40px;
    width: 97%;
}
.fa-github{
    color: black;
    font-size: 1.2rem;
}
#refresh-time{
    font-weight: 400;
    padding-right: 1rem;
}
#loading{
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading-logo{
    margin-right: 5px;
}

#online-logo{
    width: 16px;
    height: auto;
    margin-right: 5px;
    opacity: 0.6;
}

#most-played{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 195px;
    display: none;
    flex-direction: column;
}

#most-played span{
    text-align: left;
    background: #272727;;
    color: white;
    width: 67%;
    margin: 0 auto;
    padding: 0.5rem;
    opacity: 0.7;
    z-index: -1;
    font-weight: 300;
    position: relative;
}

#most-played span i{
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #ff0000;
}

#most-played img{
    width: 100%;
    height: 100%;
    margin-top: -2rem;
}

#apex-logo-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 70px;
    height: auto;
}

#apex-logo{
    width: 100%;
}

#apex-typo{
    width: 100px;
    height: 55px;
    margin-top: 0.5rem;
}

#search-form-container, #tooltip-container{
    position: absolute;
    z-index: 1;
}
#search-form-container{
    top: 8rem;
}
#tooltip-container{
    top: 12rem;
}

#tooltip-container a{
    text-decoration: none;
}

#tooltip-container .btn{
    font-size: .8rem;
    font-weight: 300;
}

.search-form{
    background: none;
    border: none;
    border-bottom: 1px solid gray !important;
    border-radius: 0;
}
input.search-form{
    box-shadow: none !important;
    background: none !important;
    outline: none;
    width: 390px;
}
.timezone{
    font-size: .8rem;
    font-weight: 300;
    color: #464646;
}

#notFoundText{
    color: #cd3233;
    display: none;
}

#search-form-container i{
    font-size: 1.5rem;
    transition: 1s;
}




/*loading animation*/
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
#loading-logo {
    animation: loading 1s infinite;
}

/*Media Queries*/
@media only screen and (max-width: 1450px) {
    #most-played{
        width: 170px;
    }
}

@media only screen and (max-width: 991px) {
    body{
        width: 100%;
        font-size: 12px;
    }
    .container{
        height: 100vh;
    }
    .container section{
        justify-content: center;
        height: 130px;
        width: 50vw;
    }
    footer, #legend{
        justify-content: center;
        width: 100%;
        right: 0;
        left:0;
        font-weight: 300;
    }
    .rank-logo{
        margin-right: 0;
    }
    .title{
        padding-top: 10px;
        font-size: 30px;
    }
    .data{
        padding-bottom: 10px;
        font-size: 30px;
    }
    .decorator-container{
        display: none;
    }
    #rankPercentage, #apex-logo-container{
        display: none !important;
    }
    #legend-container{
        padding: 40px 0;
    }
    #online-logo{
        margin-left: 5px;
    }
    #user-info{
        margin-right:30px;
    }
    #loading{
        margin-left: 10px;
    }
    #loading-text{
        white-space: nowrap;
    }
    body, html, .wrapper{
        overflow-x: hidden;
    }
    input.search-form{
        width: 95%;
    }
    #most-played{
        width: 110px;
    }
}
@media only screen and (max-width: 768px) {
    #most-played{
        margin-bottom: -12rem;
        position: static;
    }
    #most-played span{
        opacity: 0.9;
        z-index: 1;
    }
    .title{
        padding-top: 10px;
        font-size: 23px;
    }
    .title .text {
        width: 50%;
    }
    .data{
        padding-bottom: 10px;
        font-size: 23px;
    }
}

