*{
    box-sizing: border-box;
}
body,html, .wrapper{
    height: 100vh;
    margin:0;
    padding:0;
    font-family: Roboto, serif;
    text-align: center;
    color: #333234;
    overflow: hidden;
}

.wrapper{
    position: fixed;
}
html{
    background-image:url("http://hdqwalls.com/wallpapers/apex-legends-season-3-ws.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper{
    position: relative;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    margin:0 auto;
}

.container section{
    width: 20vw;
    height: 400px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title, .data{
    width: 100%;
    font-weight: 100;
    font-size: 4vw;
    background-color: rgba(250,250,250,0.8);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e2a3c;
}

.data{
    color: #545454;
}

#legend{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(1, 30, 61, 0.9);
    color: #ececec;
    padding: 50px 0;
}
#legend-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#rankPercentage{
    display: none;
    align-items: center;
    margin-left: 40px;
}
#next-text{
    margin-right: 5px;
}
.ldBar-label{
    margin-top: 10px;
    text-shadow: none !important;
}
.myBar{
    display: none;
    align-self: center;
    width: 100px;
}
#user-info{
    margin-right:50px;
}
.title .text{
    width: 45%;
}
.decorator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.5%;
}
.decorator{
    width: 50%;
    height: 2px;
    background-color: #C5D58E;
}
.rank-logo{
    width: 50px;
    height: auto;
}
footer{
    display: flex;
    align-items: center;
    position: absolute;
    bottom:10px;
    right:20px;
    height: 40px;
    width: 97%;
}
footer, #legend{
    font-weight: 300;
}
#refresh-time{
    padding-right: 50px;
}
#loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}
#loading-logo{
    margin-right: 5px;
}

#online-logo{
    width: 20px;
    height: auto;
    margin-right: 5px;
}



/*loading animation*/
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
#loading-logo {
    animation: loading 1s infinite;
}

/*Media Queries*/
@media only screen and (max-width: 700px) {
    body{
        width: 100%;
        font-size: 12px;
    }
    .container{
        flex-direction: column;
        height: 100vh;
    }
    .container section{
        justify-content: center;
        width: 50vw;
        height: 500px;
    }
    footer, #legend{
        justify-content: center;
        width: 100%;
        right: 0;
        left:0;
    }
    #kills{
        justify-content: flex-end;
    }
    #top3{
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    .rank-logo{
        margin-right: 0;
    }
    .title{
        padding-top: 10px;
        font-size: 35px;
    }
    .data{
        padding-bottom: 10px;
        font-size: 35px;
    }
    .decorator-container{
        display: none;
    }
    #rankPercentage{
        display: none !important;
    }
    #legend-container{
        padding: 40px 0;
    }
    #kills{
        margin-top: 16%;
    }
    #online-logo{
        margin-left: 5px;
    }
    #user-info{
        margin-right:30px;
    }
    #loading{
        margin-left: 10px;
    }
    #loading-text{
        white-space: nowrap;
    }
}
